html,
body {
    height: 100%;
}

/* To do a sticky footer */
.d-flex-column-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* The main content fill the rest of the page */
main {
    flex: 1;
}

.invalid-tooltip {
    position: absolute;
    display: block;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.875rem;
    color: #fff;
    background-color: var(--bs-danger);
    border-radius: var(--bs-border-radius);
}

.text-bg-primary {
    background-color: #4877d7 !important;
}

.nav-link {
    color: #4877d7;
}

.menu-selected {
    color: white !important;
    background-color: #649daeff;
    border-radius: 25px;
}